// HTML5 DECLARATIONS //
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog { display: block }
audio[controls],canvas,video { display: inline-block; *display: inline; zoom: 1 }

// BASE //
html { height: 100%; font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100% } /* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
body { margin: 0; min-height: 100%; -webkit-font-smoothing:antialiased; font-smoothing:antialiased; text-rendering:optimizeLegibility; /* Improve default text rendering, handling of kerning pairs and ligatures */	
	
	font-family: 'OpenSansRegular'; 
	font-size: 1em; // 16px // 
	line-height: 1.5em; // 24px // 
	padding: 3em; // !!! REMOVE //
 	//background: url('../img/baseline-grid.png') repeat; // GRID // 
}

// TYPOGRAPHY //
h1 { font-size: 3.750em; line-height: 1.20em; margin: 0.00em 0 0.30em; } // 72px //
h2 { font-size: 3.000em; line-height: 1.25em; margin: 0.60em 0 0.40em; } // 48px //
h3 { font-size: 2.250em; line-height: 1.35em; margin: 0.78em 0 0.60em; } // 36px //
h4 { font-size: 1.500em; line-height: 1.50em; margin: 1.10em 0 0.95em; } // 24px //
h5 { font-size: 1.250em; line-height: 1.50em; margin: 1.55em 0 1.15em; } // 18px //
h6 { font-size: 1.000em; line-height: 1.50em; margin: 2.30em 0 1.50em; } // 16px //
p, ul, ol, blockquote, pre, td, th, label { margin: 0 0 1.5em; }

// LISTS //
ul { list-style: disc; list-style-position: inside;}
ol { list-style: decimal; list-style-position: inside; }
li ul, li ol { margin: 0 1.5em }
dl dd { margin-left: 1.5em }

// TABLES //
table { border-collapse: collapse; border-spacing: 0; margin-bottom: 1.5em }
th { text-align: left }
tr, th, td { padding-right: 1.5em; border-bottom: 0 solid #333 }

// FORMS //
form { margin: 0 }
fieldset { border: 0;padding: 0 }
textarea { overflow: auto; vertical-align: top }
legend { *margin-left: -.75em }
button, input, select, textarea { vertical-align: baseline; *vertical-align: middle } /* IE7 and older */
button, input { line-height: normal; *overflow: visible }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer;-webkit-appearance: button }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0 }

// QUOTES //
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
blockquote, q, cite { font-style: italic }
blockquote { padding-left: 1.5em; border-left: 3px solid #0099FF }
blockquote > p { padding: 0 }

// HYPERLINKS //
a { text-decoration: none; color:#c47529 }
a:hover { text-decoration: underline }
a:focus { outline: thin dotted }
a:hover, a:active { outline: none } /* Better CSS Outline Suppression */

// MEDIA //
figure { margin: 0 }
img, object, embed, video { max-width: 100%;	_width: 100% } /* Fluid images */
img { border: 0;	-ms-interpolation-mode: bicubic } /* Improve IE's resizing of images */
svg:not(:root) { overflow: hidden } /* Correct IE9 overflow */

// ABBREVIATION //
abbr[title], dfn[title] { border-bottom: 1px dotted #333; cursor: help }

// MARKED/INSERTED/DELETED AND SELECTED TEXT //
ins, mark { text-decoration: none }
mark { background: #0099FF }
ins { background: #0099FF }
del { text-decoration: line-through }
::-moz-selection { background: #0099FF; color: #fff; text-shadow: none } /* selected text */
::selection { background: #0099FF; color: #fff; text-shadow: none } /* selected text */

// OTHERS //
strong, b, dt { font-weight: bold }
dfn { font-style: italic }
var, address { font-style: normal }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline } /* Position 'sub' and 'sup' without affecting line-height */
sup { top: -0.5em } /* Move superscripted text up */
sub { bottom: -0.25em } /* Move subscripted text down */
span.amp{ font-family:Adobe Caslon Pro,Baskerville,"Goudy Old Style","Palatino","Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",Times,serif;font-style:italic;font-size:110%;line-height:0;position:relative;vertical-align:baseline } /* Best available ampersand */